body{
    font-family: 'Cantarell', sans-serif;
    padding: 10px;
}

.fa{
    padding: 5%;
}

.fa-right{
    float:right;
}

.preselect{
    margin-left: 5%;
    margin-right: 5%;
}

.markdown{
    padding: 45px;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

.mainText{
    padding: 15px;
}

.mainText i{
    float: left;
    padding: 0;
    padding-right: 15px;
}

.mainText h1{
    display:inline-block; 
}

.intro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.intro p{
    display: inline-block;
}

.btn-start{
    margin-top: 50px;
}