.panel{
    max-width: 60%;
}

.fa{
    padding: 5%;
}

.fa-right{
    float:right;
}

.preselect{
    margin-left: 5%;
    margin-right: 5%;
}

.markdown{
    padding: 45px;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}