<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Austin Liu (aliu139)">
    <link rel="icon" href="../../favicon.ico">

    <title>ForkMe</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Custom styles for this template -->
    <link href="res/css/main.css" rel="stylesheet">
</head>

<body>
    <div class="container" id="mainApp">
        <div class="starter-template">
            <h1>ForkMe</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones
                HTML document.</p>
        </div>

        <transition name="fade">
            <div v-if="!submitted">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Title</h3>
                    </div>
                    <div class="panel-body">
                        <div class="preselect" v-if="!titleSelected">
                            <i class="fa fa-magic fa-5x" v-on:click="titleSelected = true; titleCustom=false;"></i>
                            <i class="fa fa-right fa-wrench fa-5x" v-on:click="titleSelected = true; titleCustom=true;"></i>
                        </div>

                        <div v-if="titleCustom">
                            <input type="text" class="form-control" placeholder="Custom Title" v-model="titleVal"> </input>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Main Image</h3>
                    </div>
                    <div class="panel-body">
                        <div class="preselect" v-if="!picSelected">
                            <i class="fa fa-magic fa-5x" v-on:click="picSelected = true; picCustom=false;"></i>
                            <i class="fa fa-right fa-wrench fa-5x" v-on:click="picSelected = true; picCustom=true;"></i>
                        </div>

                        <div v-if="picCustom">
                            <h4> Filter </h4>
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default" v-on:click="greyscale = true">Grey</button>
                                <button type="button" class="btn btn-default" v-on:click="greyscale = false">Red</button>
                                <button type="button" class="btn btn-default" v-on:click="greyscale = false">Blue</button>
                            </div>

                            <h4> Subject</h4>
                            <input type="text" class="form-control" placeholder="Picture of..." v-model="picVal"> </input>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-default" v-on:click="submit">Submit</button>
            </div>
        </transition>

        <transition name="fade">
            <div v-if="submitted">
                <div>
                    <h3> Fork It! </h3>
                    <button type="button" class="btn btn-primary"> Copy to Clipboard </button>
                    <button type="button" class="btn btn-primary" v-on:click="reset"> Regenerate </button>
                    <a v-bind:href="fbShareUrl">
                        <button type="button" class="btn btn-primary"> Share </button>
                    </a>
                </div>

                <div class="markdown">
                    <!--<img src="http://www.bootbundle.com/bundle/mockups/imac-template.png"> </img>-->
                    <h1>{{titleVal}}</h1>
                    <img v-bind:src="picUrl"> </img>

                    <h2> Introduction </h2>

                    <p> {{readme}} </p>

                    <h2> Examples </h2>

                    <pre><code>
                var foo = true;

                if(!foo){
                    return 5;
                }
                else{
                    return 6;
                }
                </code></pre>

                    <h2> Built With: </h2>
                    <ul>
                        <li v-for="item in builtWithList"> {{item}}</li>
                    </ul>
                </div>
            </div>
        </transition>
    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

<script src="https://unpkg.com/vue/dist/vue.js"></script>

<script src="res/js/generateReadme.js"></script>
<script src="res/js/load.js"></script>
<script>
    var builtWith = waitForLoad("res/dictionaries/technologies.json");
    var nouns = waitForLoad("res/dictionaries/nouns.json");
    var verbs = waitForLoad("res/dictionaries/verbs.json");
    var adj = waitForLoad("res/dictionaries/adjectives.json");
    var adv = waitForLoad("res/dictionaries/adverbs.json");
    var interj = waitForLoad("res/dictionaries/interjects.json");
    var city = waitForLoad("res/dictionaries/cities.json");
    var dem = waitForLoad("res/dictionaries/dems.json");
    var art = waitForLoad("res/dictionaries/arts.json");

    var markov = waitForLoad("res/weights/markov.json");

    Promise.all([builtWith, nouns, verbs, adj, adv, interj, city, dem, art, markov]).then(value => {
        console.log(value);
        var builtWithArr = Object.keys(value[0]);
        var names = [''];

        console.log(value);

        DICTIONARY = {
            noun: Object.keys(value[1]),
            verb: Object.keys(value[2]),
            adj: Object.keys(value[3]),
            adv: Object.keys(value[4]),
            interj: Object.keys(value[5]),
            city: Object.keys(value[6]),
            dem: Object.keys(value[7]),
            art: Object.keys(value[8])
        };

        PROBABILITIES = {
            "noun": normalize(value[9].noun),
            "verb": normalize(value[9].verb),
            "adj": normalize(value[9].adj),
            "adv": normalize(value[9].adv),
            "interj": normalize(value[9].interj),
            "city": normalize(value[9].city),
            "dem": normalize(value[9].dem),
            "art": normalize(value[9].art)
        }

        console.log(PROBABILITIES);

        var mainApp = new Vue({
            el: "#mainApp",
            data: {
                titleCustom: false,
                titleSelected: false,
                titleVal: "",
                picCustom: false,
                picSelected: false,
                picVal: "tech",
                greyscale: false,
                picUrl: "http://loremflickr.com/320/240",
                fbShareUrl: "https://www.facebook.com/sharer.php?caption=[caption]&description=[description]&u=[website]&picture=[image-url]",
                submitted: false,
                builtWithList: [],
                readme: ""
            },
            methods: {
                submit: function () {
                    this.titleVal = (this.titleVal == "") ? generateTitle() : this.titleVal;
                    this.submitted = true;
                    this.builtWithList = _.sample(builtWithArr, 5);
                    this.readme = generateReadme();
                    this.picUrl = (this.greyscale) ? ("http://loremflickr.com/g/320/240/" + this.picVal) : ("http://loremflickr.com/320/240/" + this.picVal);
                    this.fbShareUrl = "https://www.facebook.com/sharer.php?caption=" + "caption" + "&description=" + "description" + "&u=" + "https://aliu139.github.io/forkme/" + "&picture=" + this.picUrl;
                    console.log(this.picUrl);
                },
                reset: function () {
                    this.titleCustom = false;
                    this.titleSelected = false;
                    this.titleVal = "";
                    this.picCustom = false;
                    this.picSelected = false;
                    this.picVal = "tech";
                    this.greyscale = false;
                    this.picUrl = "http://loremflickr.com/320/240";
                    this.fbShareUrl = "https://www.facebook.com/sharer.php?caption=[caption]&description=[description]&u=[website]&picture=[image-url]";
                    this.submitted = false;
                    this.builtWithList = [];
                    this.readme = "";
                }
            }
        })
    })
</script>
</body>

</html>