<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Austin Liu (aliu139)">
    <link rel="icon" href="../../favicon.ico">

    <title>ForkMe</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Custom styles for this template -->
    <link href="main.css" rel="stylesheet">
</head>

<body>
    <div class="container" id="mainApp">
        <div class="starter-template">
            <h1>ForkMe</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones
                HTML document.</p>
        </div>

        <div v-if="!submitted">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Title</h3>
                </div>
                <div class="panel-body">
                    <div class="preselect" v-if="!titleSelected">
                        <i class="fa fa-magic fa-5x" v-on:click="titleSelected = true; titleCustom=false;"></i>
                        <i class="fa fa-right fa-wrench fa-5x" v-on:click="titleSelected = true; titleCustom=true;"></i>
                    </div>

                    <div v-if="titleCustom">
                        <input type="text" class="form-control" placeholder="Custom Title"> </input>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Main Image</h3>
                </div>
                <div class="panel-body">
                    <div class="preselect" v-if="!picSelected">
                        <i class="fa fa-magic fa-5x" v-on:click="picSelected = true; picCustom=false;"></i>
                        <i class="fa fa-right fa-wrench fa-5x" v-on:click="picSelected = true; picCustom=true;"></i>
                    </div>

                    <div v-if="picCustom">
                        <h4> Filter </h4>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default">Grey</button>
                            <button type="button" class="btn btn-default">Red</button>
                            <button type="button" class="btn btn-default">Blue</button>
                        </div>

                        <h4> Subject</h4>
                        <input type="text" class="form-control" placeholder="Picture of..."> </input>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-default" v-on:click="submit">Submit</button>
        </div>

        <div v-if="submitted">
            <!--<img src="http://www.bootbundle.com/bundle/mockups/imac-template.png"> </img>-->
            <img v-bind:src="picUrl"> </img>
        </div>
    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

<script src="https://unpkg.com/vue/dist/vue.js"></script>

<script>
    var mainApp = new Vue({
        el: "#mainApp",
        data: {
            titleCustom: false,
            titleSelected: false,
            picCustom: false,
            picSelected: false,
            greyscale: false,
            pictureOf: "",
            picUrl: "http://loremflickr.com/320/240",
            submitted: false
        },
        methods: {
            submit: function () {
                this.submitted = true;
                console.log("hello");
            }
        }
    })
</script>
</body>

</html>